---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>The Cornellian</h1>
			<Image src="https://placehold.co/600x400?text=Logo+Placeholder" alt="The Cornellian Logo" inferSize={true} class="dark:invert" />
			<p>do this later ~luna</p>
		</main>
		<Footer />
	</body>
</html>
