---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
import StaffCard from '../components/StaffCard.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
        <main>
            <h1 class="text-center text-4xl font-bold">The Cornellian Staff</h1>
            <h2 class="text-center text-2xl font-semibold">Executive Board</h2>
            <h3 class="text-center text-xl">Editors-in-Chief</h3>
            <StaffCard name="Murray Page" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>
            <StaffCard name="James Belding" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>

            <h3 class="text-center text-xl">Business Manager</h3>
            <StaffCard name="Eliza Carlson" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>

            <h2 class="text-center text-2xl font-semibold">Comic / Photographers</h2>
            <StaffCard name="Morgan Dalsing" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>
            <StaffCard name="Teresa Mejia" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>

            <h2 class="text-center text-2xl font-semibold">Staff Writers</h2>
            <StaffCard name="Ren Solis-Roman" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>
            <StaffCard name="Rhye Nelson" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>
            <StaffCard name="Jack Gross" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>
            <StaffCard name="Clara Biela" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>
            <StaffCard name="Adelaide Ries" pronouns="?" image="https://placehold.co/200x200?text=Imageeeee+:3c"></StaffCard>

            <h2 class="text-center text-2xl font-semibold">Website</h2>
            <StaffCard name="Luna" pronouns="she / they" image="https://placehold.co/200x200?text=Imageeeee+:3c">
                <p>Luna exists on this earthly realm. This is widely regarded to have been a <em>bad move</em> by the universe.</p>
            </StaffCard>
        </main>
        <Footer />
    </body>
</html>
