---
// Shows a random banner ad (April Fools only)
// 728x90
import { Image, imageConfig } from 'astro:assets';
import niko from '../images/ads/niko.png';
import knowNot from '../images/ads/know-not.png';
import hotSquirrels from '../images/ads/hot-squirrels.png';
import pumpkin from '../images/ads/pumpkin.png';
import lightingDesign from '../images/ads/lighting_design_1.png';

const ads = [
    { src: niko, link: '' },
    { src: knowNot, link: 'https://www.cornellcollege.edu/ingenuity/index.shtml' },
    { src: hotSquirrels, link: '' },
    { src: pumpkin, link: '' },
    { src: lightingDesign, link: 'https://selfservice.cornellcollege.edu/PowerCampusSelfService/Search/Section/Share?&keywords=Lighting%20Design&session=BLOCK8&department=THE' },
];

const randomAd = ads[Math.floor(Math.random() * ads.length)];
---
<div class="mx-auto w-full font-mono text-white mt-2 mb-8 not-prose hidden" id="april-ad">
    <div class="mx-auto relative border-2 border-gray-500 border-ridge bg-black">
        <a href={randomAd.link} class="block w-full h-full">
            <Image src={randomAd.src} alt="ad" class="w-full h-full" />
        </a>
        <div class="absolute right-0 bottom-0 border-t border-l border-purple-200 p-1 text-sm backdrop-blur-3xl backdrop-grayscale-100">
            <a href="/ads" class="underline text-purple-200">ad</a>
        </div>
    </div>
</div>
<script is:inline>
	function isAprilFools() {
		var d = new Date();
		return d.getMonth() === 3 && d.getDate() === 1;
	}
	function showAd() {
		if (isAprilFools() || document.documentElement.classList.contains('april-fools')) {
			var el = document.getElementById('april-ad');
			if (el) el.classList.remove('hidden');
		}
	}
	showAd();
	document.addEventListener('astro:page-load', showAd);
</script>
