---
// Shows a random banner ad
// 722x84
import { Image, imageConfig } from 'astro:assets';
import niko from '../images/ads/niko.png';
import rene from '../images/ads/know-not.png';
import luna from '../images/ads/luna.png';
// import ad3 from '../images/ads/3-tinted.png';

const ads = [
    { src: niko, link: '' },
    { src: rene, link: 'https://www.cornellcollege.edu/ingenuity/index.shtml' },
    { src: luna, link: 'https://github.com/itsactuallyluna9' },
    // { src: ad3, link: '/ad3' },
];

const randomAd = ads[Math.floor(Math.random() * ads.length)];
---
<div class="mx-auto w-full font-mono text-white mt-2 mb-8">
    <div class="mx-auto relative border-2 border-gray-500 border-ridge bg-black">
        <a href={randomAd.link} class="block w-full h-full">
            <Image src={randomAd.src} alt="ad" class="w-full h-full" />
        </a>
        <div class="absolute right-0 bottom-0 border-t border-l border-purple-200 p-1 text-sm backdrop-blur-3xl backdrop-grayscale-100">
            <a href="/ads" class="underline text-purple-200">ad</a>
        </div>
    </div>
</div>
