---
import { execSync } from 'child_process';
const today = new Date();
const commit = execSync('git log -1 --pretty=format:"%s (%h)"', { encoding: 'utf-8' }).trim();
---

<footer class="text-center py-8 px-4 text-base-300 dark:text-base-700 bg-linear-to-b from-base-50 dark:from-base-950 select-none print:hidden" id="footer">
	&copy; {today.getFullYear()} The Cornellian. All rights reserved.
</footer>
<script>
	// click footer 5 times to see credits
	let clicks = 0;
	document.getElementById('footer')!.addEventListener('click', () => {
		clicks++;
		if (clicks === 5) {
			const footer = document.getElementById('footer')!
			footer.innerHTML = 'Made with <span class="text-red dark:text-red-light">&lt;3</span> by <span class="text-cyan dark:text-cyan-light">Luna</span>!';
			// footer.innerHTML += `<br><span class="text-xs">Latest Commit: ${commit} | Built At: ${today.toLocaleString()}</span>``;
		}
	});
</script>
