---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-base-paper dark:bg-base-black m-0 px-4 shadow-lg">
	<nav class="flex items-center justify-between">
		<div class="flex items-center">
			<h2 class="m-0 text-xl"><a href="/" class="text-base-black dark:text-base-200 px-2 py-4" id="header_title">{SITE_TITLE}</a></h2>
		</div>
		<div>
			<HeaderLink href="/" class="text-base-black dark:text-base-200 px-2 py-4 border-b-4 border-solid border-opacity-0">Home</HeaderLink>
			<HeaderLink href="/articles" class="text-base-black dark:text-base-200 px-2 py-4 border-b-4 border-solid border-opacity-0">Articles</HeaderLink>
			<HeaderLink href="/staff" class="text-base-black dark:text-base-200 px-2 py-4 border-b-4 border-solid border-opacity-0">Our Staff</HeaderLink>
		</div>
	</nav>
</header>
