---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-base-paper dark:bg-base-black m-0 px-4 shadow-lg">
	<nav class="sm:flex sm:items-center sm:justify-between table w-full sm:w-auto">
		<div class="items-center flex justify-center sm:justify-normal">
			<h2 class="m-0 text-xl"><a href="/" class="text-base-black dark:text-base-200 px-2 py-4 font-bold" id="header_title">{SITE_TITLE}</a></h2>
		</div>
		<div class="w-full sm:w-auto flex items-center justify-center">
			<HeaderLink href="/" class="text-base-black dark:text-base-200 px-2 py-4 border-b-4 border-solid border-opacity-0">Home</HeaderLink>
			<HeaderLink href="/articles" class="text-base-black dark:text-base-200 px-2 py-4 border-b-4 border-solid border-opacity-0">Articles</HeaderLink>
			<HeaderLink href="/comics" class="text-base-black dark:text-base-200 px-2 py-4 border-b-4 border-solid border-opacity-0">Comics</HeaderLink>
			<HeaderLink href="/staff" class="text-base-black dark:text-base-200 px-2 py-4 border-b-4 border-solid border-opacity-0">Our Staff</HeaderLink>
		</div>
	</nav>
</header>
